html, body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

label, input {
  font-size: 1rem;
  display: block;
}

label {
  font-weight: bold;
  font-size: 1rem;
}

input[type="text"] {
  padding: .25rem .5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background: #fff;
}

button.blue {
  background: #2196f3;
  border-color: #2196f3;
  color: #fff;
}

button.orange {
  color: #fff;
  background: #ff9800;
  border-color: #ff9800;
}

button.red {
  background: #f44336;
  color: #fff;
  border-color: #f44336;
}

/* Reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

/* utility classes */
.container {
  width: 978px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

/* components */
.root-app {
  display: flex;
}

.sidebar {
  width: 240px;
  background: #ccc;
  min-height: 100vh;
  padding: 2rem;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar ul li {
  list-style: none;
  margin-bottom: 1rem;
}

.content {
  padding: 2rem;
}

.book-card {
  margin-bottom: 1.5rem;
  border: 1px solid #efefef;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}

.book-card-image {
  width: 240px;
  min-height: 160px;
  background-size: cover;
  background-repeat: no-repat;
  background-position: center center;
}

.book-card-content {
  width: 100%;
}

.book-card-action {
  text-align: right;
  padding: 1rem;
}
